body {
	font-size: 12px;
	background-color: #efefef;
	margin: 0;
}

a {
	color: #da3c99;
	text-decoration: none;
}

ul {
	padding: 0;
}

#wrapper {
	margin: 10px auto;
	width: 800px;
}
#main {

	background-color: #fff;
	border: 1px solid #acacac;
}
#header {
}
#header h1 {
	padding-left: 20px;
	color: #5e5e33;
}

#content {
	padding: 0 20px;
	border-right: 1px solid #ccc;
	margin-bottom: 20px;
}

#navor {
}

#navor ul {
	list-style: none;
	background-color: #eee;
	border-bottom: 1px solid #af99ca;
	padding-left: 10px;
}

#navor li {
	float: left;
	padding: 6px;
	margin-right: 10px;
}

#navor a {
	font-size: 16px;
	padding: 4px;
	font-weight: bold;
}

#navor a:hover {
	background-color: #ddd;
	border-bottom: 2px solid #da3c99;
}


#main-content #content {
	float: left;
	width: 70%;
}
#main-content #sidebar {
	float: right;
	width: 19%;
	margin: 0 20px;
}


#footer
{
	padding: 5px 0;
}



#notice {
	padding: 6px;
	border: 1px solid yellow;
	background-color: #fffccf;
	margin: 0 20px;
}











/* ClearFix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
	display: block;
}
/* End hide from IE Mac / / end of clearfix */